# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\#UBBYear2Sem1\MAP\Lab03\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
